@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 1366px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

body {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  color: #565c66;
  background-color: #feafc3;
  padding: 22px 0 24px;
  margin: 0 auto;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  border: none;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);
  background-color: #fcfcfc;
  color: #000000;
  text-decoration: none;
  padding: 12px 32px;
  cursor: pointer;
}

.additional__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);
  background-color: #ff2f64;
  color: #fcfcfc;
  text-decoration: none;
  padding: 12px 32px;
  cursor: pointer;
}

.input {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 324px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 13px 16px;
}

.input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

/* Стили Хедера */

.page__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 21px;
}

.header__logo {
  display: block;
  margin-right: 16px;
}

.header__navigation {
  flex-grow: 1;
  margin-right: auto;
}

.header__navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.header__navigation__item {
  position: relative;
}

.header__navigation__link {
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border-radius: 30px;
  background-color: transparent;
}

.header__navigation__link.is__current {
  background-color: #ff2f64;
  color: #ffffff;
}

.header__navigation__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header__navigation__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

.header__navigation__link:active {
  background-color: #fcfcfc;
}

.header__navigation__item__catalog:hover .header__catalog__popup {
  display: flex;
}

.header__navigation__item__catalog:focus-within .header__catalog__popup {
  display: flex;
}

.header__catalog__popup {
  position: absolute;
  left: 0;
  top: 43px;
  display: none;
  flex-direction: column;
  max-width: 135px;
  padding: 16px 16px 14px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.header__catalog__popup::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 10px;
  top: -10px;
}

.catalog__popup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 10px;
}

.catalog__popup__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__popup__item:not(:last-child) {
  margin-bottom: 4px;
}

.catalog__popup__link {
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 4px 0;
}

.header__user__container {
  flex-grow: 1;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.phone__number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  margin-right: 16px;
}

.site__searching__container {
  position: relative;
  margin-right: 16px;
}

.site__searching__container:focus-within .site__searching__popup,
.site__searching__container:hover .site__searching__popup {
  display: flex;
}

.user__navigation__button {
  position: relative;
  display: flex;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  border: none;
  cursor: pointer;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.user__navigation__button.is__current {
  background-color: #ff2f64;
  color: #ffffff;
}

.user__navigation__button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user__navigation__button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

.user__navigation__button:active {
  background-color: #fcfcfc;
}

.site__searching__button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 1;
}

.site__searching__button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.site__searching__popup {
  position: absolute;
  right: 0;
  top: 40px;
  display: none;
  flex-wrap: wrap;
  max-width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.site__searching__popup::before {
  position: absolute;
  content: "";
  top: -20px;
  width: 356px;
  height: 20px;
  z-index: -1;
}

.user__account__container {
  position: relative;
  margin-right: 16px;
}

.user__account__container:focus-within .user__account__popup,
.user__account__container:hover .user__account__popup {
  display: flex;
}

.user__account__button {
  width: 88px;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
}

.user__account__button svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.user__account__popup {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  flex-direction: column;
  max-width: 420px;
  padding: 48px 48px 52px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.user__account__popup::before {
  position: absolute;
  content: "";
  top: -20px;
  width: 420px;
  height: 20px;
}

.user__account__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0 0 31px;
}

.site__searching__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user__inputs_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user__inputs_list li {
  margin-bottom: 16px;
}

.user__inputs_list li:last-of-type {
  margin-bottom: 32px;
}

.sign__in__button {
  max-width: 113px;
  margin-right: 23px;
}

.help__links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translateY(-3px);
}

.help__links__list li:not(:last-of-type) {
  margin-bottom: 2px;
}

.help__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2d3440;
  box-sizing: content-box;
  text-align: center;
}

.cart__button {
  position: relative;
  display: flex;
  width: 115px;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
}

.cart__button svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.cart__container {
  position: relative;
}

.cart__container:focus-within .cart__popup,
.cart__container:hover .cart__popup,
.cart__container:focus-within .cart__popup__empty,
.cart__container:hover .cart__popup__empty {
  display: block;
}

.cart__container:focus-within .cart__popup.is__empty,
.cart__container:hover .cart__popup.is__empty {
  display: none;
}

.cart__popup {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 441px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 2;
}

.cart__popup::before {
  position: absolute;
  content: "";
  top: -20px;
  width: 441px;
  height: 20px;
}

.cart__popup__empty {
  position: absolute;
  display: none;
  text-align: center;
  width: 288px;
  top: 40px;
  right: 0;
  padding: 48px 0;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  background-color: #fcfcfc;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.cart__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0 0 32px;
}

.cart__list {
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #e7e7e7;
}

.cart__item {
  position: relative;
  margin-bottom: 24px;
  padding-right: 68px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart__item:last-child {
  margin-bottom: 32px;
}

.cart__link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.cart__image {
  display: block;
  margin-right: 16px;
}

.cart__product__description {
  display: flex;
  flex-direction: column;
}

.cart__product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin-bottom: 4px;
}

.cart__product__quantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart__product__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
}

.delete__button {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.cart__summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkout__button {
  max-width: 198px;
  margin-right: 32px;
}

.total__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/* Стили Футера */

.page__footer {
  margin-top: auto;
  padding: 48px 14px 24px 4px;
  display: grid;
  align-items: start;
  grid-template-columns: 203px 1fr 193px;
  column-gap: 200px;
  row-gap: 30px;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24px);
  gap: 16px;
}

.social__link {
  color: #fcfcfc;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.documents__list {
  padding: 0 0 0 24px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  column-gap: 24px;
  row-gap: 8px;
}

.documents__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.providers__link {
  font-weight: 700;
}

.providers__link::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 2px;
  left: -25px;
  z-index: 1;
}

.copyright__info {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.html__academy__main__link {
  margin-bottom: 14px;
}

.html__academy__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.copyright__container {
  display: flex;
  flex-wrap: wrap;
}

/* Стили главной страницы */

/* Секция slider */

.slider {
  position: relative;
  padding-left: 70px;
  margin-bottom: 80px;
}

.slider__slide {
  display: grid;
  grid-template-columns: 470px 630px;
}

.slider__content {
  align-self: center;
}

.slider__title {
  margin: 0 0 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.slider__description {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.order__button {
  max-width: 139px;
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 41px;
}

.slider__image {
  position: relative;
  padding: 21px;
}

.slider__image::before {
  position: absolute;
  content: "";
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #ffcbd8;
  z-index: -1;
  top: 120px;
}

.slider__toggles {
  position: absolute;
  top: 258px;
  left: 542px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.slider__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.slider__pagination__button {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: #fcfcfc;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.slider__pagination__button.is__active {
  opacity: 1;
  pointer-events: none;
}

.slider__social {
  position: absolute;
  max-width: 250px;
  right: 0;
  bottom: 0;
}

/* Секция gifts */

.gifts {
  margin-bottom: 81px;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  row-gap: 55px;
  justify-items: center;
}

.gifts__title {
  grid-column: 1/-1;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  max-width: 434px;
  color: #2d3440;
  text-align: center;
  margin: 0;
}

.gifts__article {
  position: relative;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 206px 36px 36px;
}

.article__title {
  margin: 0 0 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.article__description {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
}

.article__link {
  max-width: 176px;
}

.article__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Секция popular__products */

.popular__products {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.popular__products__title {
  margin: 0 auto 107px;
  max-width: 527px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 91px;
}

.product {
  max-width: 270px;
  background-color: #fcfcfc;
  padding: 0 40px 24px;
  border-radius: 8px;
}

.product__link {
  position: relative;
  padding-top: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}

.product__title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product__description {
  width: 190px;
  margin: 0;
  color: #2d3440;
  text-align: center;
}

.product__image {
  position: absolute;
  bottom: 92px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.price__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  max-width: 138px;
  margin-right: 20px;
}

.add__cart__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid #ff2f64;
  background-color: #ff2f64;
  border-radius: 50%;
  color: #fcfcfc;
}

/* Секция advantages */

.advantages {
  background-color: antiquewhite;
  background-image: url("../images/waffle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.advantages__content {
  background-color: #ffffff;
  padding: 56px 40px;
  border-radius: 16px;
}

.advantages__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 auto 56px;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 33px;
  row-gap: 40px;
}

.advantages__item {
  position: relative;
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item.advantages__item__1::before {
  background-image: url("../images/icons/ice-cream.svg");
}

.advantages__item.advantages__item__2::before {
  background-image: url("../images/icons/cow.svg");
}

.advantages__item.advantages__item__3::before {
  background-image: url("../images/icons/leaf.svg");
}

.advantages__item.advantages__item__4::before {
  background-image: url("../images/icons/thermometer.svg");
}

/* Секция news */

.sections__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.news {
  padding: 34px 32px 32px 34px;
  background-color: #ffffff;
  background-image: url("../images/serving.png");
  background-repeat: no-repeat;
  background-position: top -110px right -73px;
  background-size: 113% 198%;
  border-radius: 16px;
}

.news__title {
  max-width: 303px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px;
}

.news__subtitle {
  margin: 0;
  max-width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

/* Секция newsletter */

.sections__wrapper {
  margin-bottom: 80px;
}

.newsletter {
  padding: 6px;
  background-color: #ffffff;
  background-image: url("../images/newsletter.png");
  background-repeat: no-repeat;
  background-position: top 0 left -6px;
  background-size: cover;
  border-radius: 16px;
}

.newsletter__content {
  background-color: #ffffff;
  padding: 26px 26px 28px;
  border-radius: 16px;
}

.newsletter__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 42px;
}

.newsletter__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter__input {
  width: 332px;
  margin-right: 18px;
}

.newsletter__button {
  width: 152px;
}

/* Секция delivery */

.delivery {
  position: relative;
  background-color: #ffffff;
  background-position: right;
  padding: 64px 64px 64px 100px;
  display: grid;
  grid-template-columns: 474px 500px;
  gap: 31px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/delivery.png");
  transform: scaleX(-1);
  background-size: 105%;
  background-repeat: no-repeat;
  background-position-x: -57px;
  background-position-y: -141px;
  border-radius: 16px;
  z-index: 0;
}

.delivery__content {
  z-index: 1;
  padding-top: 102px;
}

.delivery__title {
  max-width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 0 24px;
}

.delivery__description {
  max-width: 371px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.delivery__form__container {
  max-width: 500px;
  z-index: 1;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 40px 42px;
}

/* Секция contacts */

.contacts {
  background-color: #efd5d8;
  background-image: url("../images/contacts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px;
  border-radius: 16px;
}

.contacts__container {
  max-width: 343px;
  background-color: #fcfcfc;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

/* Страница каталога */

.products {

  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.products__list__catalog {
  margin-bottom: 57px;
}

.more__products__container {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 81px;
  max-width: 682px;
}

.more__products__button {
  width: 179px;
}

.products__pagination {
  position: relative;
  margin-left: auto;
  padding: 10px 24px;
  display: flex;
  align-items: center;
}

.pagination__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24px);
  justify-items: center;
  max-width: 200px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.pagination__current {
  background-color: #fcfcfc;
}

.pagination__button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.backward__button {
  background-image: url("../images/icons/arrow-left.svg");
  opacity: 0.3;
  position: absolute;
  left: 0;
}

.forward__button {
  background-image: url("../images/icons/arrow-right.svg");
  position: absolute;
  right: 0;
}
