@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

body {
  min-width: 1366px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #565c66;
  background-color: #feafc3;
  padding: 0 98px;
  margin: 0 auto;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);
  background-color: #fcfcfc;
  color: #000000;
  text-decoration: none;
  padding: 12px 32px;
  cursor: pointer;
}

.additional__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);
  background-color: #ff2f64;
  color: #fcfcfc;
  text-decoration: none;
  padding: 12px 32px;
  cursor: pointer;
}

/* Стили Хедера */

.header__logo {
  display: flex;
}

.header__navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__navigation__link {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.header__catalog__popup {
  display: flex;
  flex-direction: column;
  max-width: 135px;
  padding: 16px 16px 14px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.catalog__popup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 10px;
}

.catalog__popup__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__popup__item:not(:last-child) {
  margin-bottom: 12px;
}

.catalog__popup__link {
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.phone__number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.site__searching__button {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  border: none;
  cursor: pointer;
}

.site__searching__popup {
  display: flex;
  flex-wrap: wrap;
  max-width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.input {
  width: 324px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 16px 16px;
}

.input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.user__account__button {
  position: relative;
  display: flex;
  width: 88px;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  cursor: pointer;
}

.user__account__button svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.user__account__popup {
  max-width: 420px;
  padding: 48px 48px 52px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.user__account__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0 0 31px;
}

.site__searching__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user__inputs_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user__inputs_list li {
  margin-bottom: 16px;
}

.user__inputs_list li:last-of-type {
  margin-bottom: 32px;
}

.sign__in__button {
  max-width: 113px;
  margin-right: 23px;
}

.help__links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translateY(-3px);
}

.help__links__list li:not(:last-of-type) {
  margin-bottom: 2px;
}

.help__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2d3440;
  box-sizing: content-box;
  text-align: center;
}

.cart__button {
  position: relative;
  display: flex;
  width: 115px;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  cursor: pointer;
}

.cart__button svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.cart__popup {
  max-width: 441px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.cart__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  margin: 0 0 32px;
}

.cart__list {
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #e7e7e7;
}

.cart__item {
  position: relative;
  margin-bottom: 24px;
  padding-right: 68px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart__item:last-child {
  margin-bottom: 32px;
}

.cart__link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.cart__image {
  display: block;
  margin-right: 16px;
}

.cart__product__description {
  display: flex;
  flex-direction: column;
}

.cart__product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin-bottom: 4px;
}

.cart__product__quantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart__product__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
}

.delete__button {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.cart__summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkout__button {
  max-width: 198px;
  margin-right: 32px;
}

.total__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}



.product>img {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}
